.department-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3%;
  gap: 40px;
  justify-items: center;
}

.department-list a {
  text-decoration: none;
  color: inherit;
}

.department-list a:visited {
  color: inherit;
}

.department-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: min(22vw, 300px);
  aspect-ratio: 3 / 2;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #e5dcc5;
  box-shadow: #b3ab98 3px 4px 5px 3px;
}

.department-card:hover {
  background-color: #848fa5;
  box-shadow: #4f5766 3px 4px 5px 3px;
}

.department-card img {
  width: 100%;
  max-height: 90%;
  border-radius: 5px;
  object-fit: cover;
}

.department-card h2 {
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4%;
}

.pagination button {
  padding: 10px 20px;
  background-color: #2d2d2a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.department-title {
  text-align: center;
  margin: 20px auto;
  font-size: 3rem;
  font-weight: bold;
  background-color: #848fa5;
}

/*Large screens*/
@media (max-width: 1440px) {
  .department-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .department-card {
    width: 25vw;
  }
}

/*Medium screens*/
@media (max-width: 1080px) {
  .department-list {
    grid-template-columns: 1fr 1fr;
  }

  .department-card {
    width: 40vw;
  }
}

/*Small screens*/
@media (max-width: 768px) {
  .department-title {
    font-size: 2rem;
  }
}

/*Tiny screens*/
@media (max-width: 480px) {
  .department-list {
    grid-template-columns: 1fr;
  }

  .department-title {
    font-size: 1.5rem;
  }

  .department-card {
    width: 80vw;
  }
}
