.nav-bar {
  height: max(7vh, 60px);
  background-color: #2d2d2a;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 80%;
  width: 60%;
  justify-content: space-evenly;
}

.nav-links a {
  font-size: 22px;
  color: #e5dcc5;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 20px;
}

.search-item {
  width: 100%;
  border: 3px solid #848fa5;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #2d2d2a;
}

.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid #848fa5;
  background: #848fa5;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-bar {
  display: flex;
}

.ham-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  width: 50px;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: white;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    height: 30vh;
    top: max(7vh, 60px);
    right: 0;
    background-color: #2d2d2a;
    width: 100%;
    border-radius: 5px;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
  }

  .nav-links.open {
    display: flex;
    opacity: 100;
    pointer-events: auto;
  }

  .nav-links.hidden {
    display: none;
  }

  .ham-menu {
    display: flex;
  }
}

@media (max-width: 480px) {
  .ham-menu {
    width: 30px;
    height: 30px;
  }

  .ham-menu span {
    height: 3px;
  }
}
